
@use 'color';

.banner{
    height: 400px;
    background: black; 
    /*linear-gradient(92.32deg, #101011 -2.76%, #000000 39.95%, #000000 60.95%, #101011 99.73%);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media (max-width: 768px) {
        max-width: 100%;
        height: 200px;
        
        
    }

    &__title-1 {

        .machine {
            padding-top: 171px;
            font-size: 40px;
            position: relative;
            text-align: center;
            color: color.$corLink;

            @media (max-width: 768px) {  
                padding-top: 90px;
                font-size: 20px;
            }

        }
    }

    .machine::after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s infinite ;
    }

    @keyframes pisca {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}